@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: #D6E1F0;
}

main {
    
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    padding-left: 80px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13);
    
}

img.qr-code {
    margin: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.641);
    
}

p {
    color: rgba(0, 0, 0, 0.558);
    text-align: center;
    padding-top: 30px;
    padding-right: 50px;
}

p.forte {
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 1.4em;
}

